
.a-style{
    margin-left: 3px;
}
.bg-img
{
    background-image:url('../../assets/background_images/bg20.jpg'); 
  
}
.label-style
{
    color:white;
    font-size: 24px;
    padding-top: 23px;
}
.warn
{
    color:#FC3C21 ;
    font-size: 18px;
    padding-top: 12px;
}
.title-style
{
    font-size: 32px;
    color:white;
}