.margin
{
    margin-top: 0px;
    padding-top: 20px;
    background-color: white;
}
h5{
    font-size: medium;
    font-family: "Amazon Ember",Arial,sans-serif;
}
.author
{
    color:'#1987EF';
    font-size:smaller;
}
p{
    font-size:smaller;
    line-height:20px;
    /* line-height: 2px; */
    font-family: "Amazon Ember",Arial,sans-serif;
}
.bold
{
    font-size: medium;
}
.img-style
{
    width:120px ;
    height:120px ;
}
.img2-style
{
    width:300px ;
    height:300px ;
}
.btn-style
{
    margin-top: 26px;
    margin-left: auto;
}
.btn-circle {
    width:60%;
    height: 30px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    /* margin-left: auto; */
}
.price
{    color:#B12704!important;
    font-size:small;
    font-weight: bold;
    box-sizing: border-box;
}
.border
{
    padding-top:14px;
    padding-left: 25px;
    padding-right: 25px;
}
.instructions
{
    font-size:16px;
}

.details-col
{
    padding-top: 0px;
}

.description-col
{
    padding-top: 0px;
}

/* @media (min-width:662px)and(max-width:992px)
{
    .details-col
    {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
} */
@media(max-width:997px)
{
    .details-col
    {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .img2-style
{
    width:200px ;
    height:200px ;
}
}
