.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    margin-bottom: 15px;
    /* margin:20px; */
  }
  .h2-style{
    color:#007bff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
    padding: 20px;
  }
  .margin2
  {
      margin-bottom:78px;
  }
 
   .card22-style
  {
        /* margin:20px; */
        width:300px ;
        margin-right: 10px;
  }
  .plan-title
  {
    color:#007bff;
  }