 .first-sec
 {
     background-color: violet;
 }
.second-sec
 {
     background-color: indigo;
 }
.third-sec
 {
     background-color: #314BDA;
 }
.fourth-sec
 {
     background-color: #AB9B1A;
 }
.fifth-sec
 {
     background-color: yellow;
 }
.sixth-sec
 {
     background-color: #F74C0C;
 }

.first-angle
 {
     transform:rotate(0deg) skewy(-30deg);
 }
 .second-angle
 {
     transform:rotate(60deg) skewY(-30deg)
 }
 .third-angle
 {
    transform:rotate(120deg) skewY(-30deg)
 }
 .fourth-angle
 {
    transform:rotate(180deg) skewY(-30deg)
 }
 .fifth-angle
 {
    transform:rotate(240deg) skewY(-30deg)
 }
 .sixth-angle
 {
    transform:rotate(300deg) skewY(-30deg)
 }
.seventh-angle
 {
    transform:rotate(360deg) skewY(-60deg)
 }
 .circle
 {
     width:25rem;
     height:25rem;
     border:1px solid #D5DBDB;
     position: relative;
     padding:0;
     margin:1em auto;
     border-radius:50%;
     list-style: none;
     overflow:hidden;

 } 
 .li-style
 {
     overflow: hidden;
     position: absolute;
     top:0;
     right:0;
     width:50%;
     height:50%;
     transform-origin: 0% 100%;
 }
 .text
 {
     
     position: absolute;
     padding-top: 20px;
     left:-100%;
     width:200%;
     height:200%; 
     color:white;
     font-size: 22px;
     font-weight: bold;
     transform: skewY(30deg) rotate(30deg);
 }
 .arrow
 {
     width:0;
     height:0;
     border-left:15px solid transparent;
     border-right:15px solid transparent;
     border-top: 50px solid red;
     position: absolute;
     left:50%;
     top:280px;
     z-index:1;
 }
 @media (max-width:997px) and (min-width:375px)
 {
    .arrow
    {
        width:0;
        height:0;
        border-left:15px solid transparent;
        border-right:15px solid transparent;
        border-top: 50px solid red;
        position: absolute;
        left:50%;
        top:377px;
        z-index:1;
    }

 }
 .spin-style
 {
     width:170px;
     background-color: #ffc107;
     color:white;
     font-size: 22px;
     font-weight: bold;
 }
 .spin-style:hover
 {
     width:170px;
     background-color: #ffc107;
     color:white;
     font-size: 22px;
     font-weight: bold;
 }
 .start-rotate
 {
     animation:start-rotate 0.6s linear infinite;
 }
 @keyframes start-rotate
 {
     100%
     {
         transform:rotate(360deg);
     }
 }
 .stop-rotate
 {
     animation-play-state:paused;
 }