
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 53px;
    margin-right: 53px;
    margin-top: 20px;
  }
  .card3-style
{
    height:280px;
    width:192px;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 12px;
}
.p1-style{
    font-size:14px;
    font-weight:lighter;
    color:#212121;
    line-height: 18px;
}
.padding
{
    padding-top: 22px;
}
.p2-style{
    margin-top:-15px;
}
.img3-style{
    height:180px;
    width:120px;
}
.h4-style
{
    color:black;
    margin-top:60px;

}