
.color
{
    color:white;
}
.link-style
{
    color:white;
    padding:10px;
    font-size: 18px;
}
.link-style:hover{
    color:white;
}
.logo-style
{
    width:30px;
    height:44px;
    padding:3px;
    margin-top:4px;
}
.nav-bg
{
    background-color:#0B153E  ;
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../../../assets//menu/menu.svg');
    height:50px;
    width:50px;
}