.bg-img {
    background-image: url("../../assets/background_images/bg20.jpg");
}

.title-style {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    padding-top: 200px;
    padding-right: 10px;
}

.btn2-style {
    background-color: #706c60;
    color: white;
    outline-color: white;
    margin-top: 40px;
    margin-bottom: 261px;
    padding: 9px;
    font-size: 18px;
    width: 9.2rem;
}

.btn2-style:hover {
    background-color: #706c60;
    color: white;
}

.lg-style {
    margin-top: 400px;
    padding-top: 200px;
}

.warn {
    color: #fc3c21;
    font-size: 18px;
    padding-top: 12px;
}

.footer-style {
    margin-top: 150px;
}

.login-style {
    margin-top: 300px;
}